@charset "UTF-8";
/* CSS Document */

$principal:#002F3F;
*{
    margin:0;
    padding:0;
}
nav{
    background: $principal;
}
header+section{
    margin-top:4.1;
}

.account{
	background: #002F3F;
	
}
.margen{
	margin-top:1rem;
}

.confirm{
	
	margin: 10% auto;

}
.colorTitle{
	color: #9BD239;
}

/*Modificaciones de carrousel/
#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}*/

.border-right{
	border-right:1px solid #e9ecef!important;
}
.carousel-caption {
		bottom:20% !important;
		height: 20%;
        right: 80%;
        text-align: center;
        max-width: 300px;
        left: auto;
        padding:5px;
		text-shadow: 2px 2px 0 #AAA;
}

.background-grey{
	background-color:gainsboro;
}
.background-white{
	background-color: white;
}

.mr-6{
	margin-right: 10%;
}