@charset "UTF-8";
/* CSS Document */



.account{
	background: #002F3F;
	
}
.margen{
	margin-top:1rem;
}

.confirm{
	
	margin: 10% auto;

}
.colorTitle{
	color: #9BD239;
}
.colorStar{
	color:#E4D300;
}
html{
	min-height: 100%;
	position: relative;
}

footer{
	background-position: center center;
  	background-size: cover;
	bottom:0;
}

.carousel-item {
  	height: 30vh;
	width: 100vh;
  	background: no-repeat center center scroll;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	object-fit: scale-down;
}

.img-resize{
	object-fit: scale-down;
}

.control-color{ 
	background-color: #aaa;
}


.border-right{
	border-right:1px solid #e9ecef!important;
}
.carousel-caption {
		bottom:20% !important;
		height: 20%;
        right: 80%;
        text-align: center;
        max-width: 300px;
        left: auto;
        padding:5px;
		text-shadow: 2px 2px 0 #AAA;
}

.background-grey{
	background-color:whitesmoke;
}
.background-white{
	background-color: white;
}

.mr-6{
	margin-right: 10%;
}
.text-white{
	color:whitesmoke;
}
.card-img-top {
  	width: 100%;
  	height:20vh !important;
	object-fit:scale-down;
}
.img-cover{
	width: 100%;
  	height:30vh !important;
	object-fit:fill;
}
.img-logo{
	width: 100%;
	object-fit:scale-down;
}
.logo-map{
	width: 100%;
	height: 30vh;
}