    <configuration xmlns="http://logging.apache.org/log4php/">
        <appender name="appender" class="LoggerAppenderFile">
            <layout class="LoggerLayoutPattern">
                <param name="conversionPattern" value="%date [%logger] %message%newline" />
            </layout>
            <param name="file" value="phpLog.log" />
        </appender>
        <root>
            <level value="TRACE" />
            <appender_ref ref="appender" />
        </root>
    </configuration>